<!doctype html>
<html>

<head>
    <title>ZenMeister Beta</title>
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <script src="data.js"></script>

    <link rel="stylesheet" href="../css/main.css">

    <style>
        body {}

        .try {
            font-size: 150%;
            font-weight: bold;
        }

        .inp {
            width: 120px;
        }

        .Inhalt {
            border-bottom: 1px solid lightblue;
            padding: 0;
            margin: 5px;
        }

        .Form {
            border-bottom: 1px solid lightcoral;
            padding: 0;
            margin: 5px;
        }

        .Ort {
            border-bottom: 1px solid lightgreen;
            padding: 0;
            margin: 5px;
        }

        .Bewegung {
            border-bottom: 1px solid yellow;
            padding: 0;
            margin: 5px;
        }

        .card {
            margin: 2px;
            padding: 20px;
            width: 300px;
            height: 280px;
            border: 1px solid black;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }

        .pagebreak {
            page-break-before: always;
            background-color: red;
            width: 650px;
            height: 450px;
        }

        img {
            width: 120px;
            height: 200px;
        }

        .info {
            width: 250px;
            margin: 5px;
            border: 1px solid black;
            background-color: lightgray;
        }

        p {
            font-size: 125%;
        }

        .header {
            text-align: center;
            width: 240px;
            font-size: 60%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    test
    <template id="tmpl" is="dom-bind">
        <div style="display:flex;flex-wrap: wrap;">
            <div class="card">
                <h2>A) {{data.form.type}} oder {{data.form.type2}}</h2>
                <p>{{data.form.desc}} </p>
            </div>
            <div class="card">
                <h2>B) {{data.inhalt.type}} oder {{data.inhalt.type2}}</h2>
                <p>{{data.inhalt.desc}} </p>
            </div>
            <div class="card">
                <h2>C) {{data.ort.type}} oder {{data.ort.type2}}</h2>
                <p>{{data.ort.desc}} </p>
            </div>
            <div class="card">
                <h2>D) {{data.extra.type}} oder {{data.extra.type2}}</h2>
                <p>{{data.extra.desc}} </p>
            </div>
        </div>
    </template>
    <script>
        var t = document.querySelector('#tmpl');
		t.data = data;
    </script>
</body>

</html>