<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<script src="data.js"></script>
<link rel="stylesheet" href="../css/main.css">

<dom-module id="zenmaster-game">

    <template>
        <style>
            .try {
                font-size: 150%;
                font-weight: bold;
            }

            .inp {
                width: 120px;
            }

            .Inhalt {
                background-color: lightblue;
            }

            .Form {
                background-color: lightcoral;
            }

            .Ort {
                background-color: lightgreen;
            }

            .Größe {
                background-color: yellow;
            }

            .cards {
            }

            .card {
                border: 1px solid black;
                width: 400px;
                text-align: center;
                vertical-align: middle;
                padding: 5px 10px;
                font-size: 150%;
                font-weight: bold;
            }

            .page-break {
                page-break-after: always;
                background-color: red;
                width: 650px;
            }

            img {
                width: 120px;
                height: 200px;
            }

            .info {
                width: 250px;
                margin: 5px;
                border: 1px solid black;
                background-color: lightgray;
            }

            .header {
                text-align: center;
                width: 240px;
                font-size: 60%;
                margin: 0;
                padding: 0;
            }
        </style>
        <firebase-document location="https://protogames.firebaseio.com/zenmaster/" data="{{data}}" log></firebase-document>
        <input type="button" on-click="newGame" value="Neues Spiel"> <a href="tipps.html" target="_blank">Tipps Seite</a>
        <div class="cards">
            <template is="dom-repeat" items="{{data.cards}}">

                <div class$="{{item.type}} card">
                        <span class="header">{{item.type}} / {{item.type2}}</span>
                        <br/>
                        <span>{{item.name}}</span>
                </div>
            </template>

        </div>
        <br/>
        <h3>2. Schreibe deine Lösung auf:</h3>
        <input style="width: 250px;" class="try inp" value="{{data.solution::input}}"></input>
        <button on-click="startGame">Fertig</button>
    </template>

    <script>
        Polymer({
            is: 'zenmaster-game',
            properties: {
                cards: {
                    type: Array,
                    notify:true
                },
                data: Object
            },
            shuffle: function(o) {
                for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
            },
            startGame: function() {
                this.set("data.started", true);
            },
            newCards: function() {
                this.shuffle(data.form.cards);
                this.shuffle(data.inhalt.cards);
                this.shuffle(data.ort.cards);
                this.shuffle(data.extra.cards);

                this.push('data.cards',this.getCard(data.form));
                this.push('data.cards',this.getCard(data.inhalt));
                this.push('data.cards',this.getCard(data.ort));
                this.push('data.cards',this.getCard(data.extra));
            },
            newGame: function() {
                this.data = {
                };
                this.set("data.cards", []);
                this.set("data.tips", []);
                this.set("data.solution", "");
                this.set("data.started", false);
                this.newCards();
                this.push('data.tips',
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'help1',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'help2',value:"", form:false,inhalt:false,ort:false,gewicht:false},
                {name: 'tip',value:"", form:false,inhalt:false,ort:false,gewicht:false});
            },
            getCard: function(stack) {
                var cardform = stack.cards.pop();
                cardform.type = stack.type;
                cardform.type2 = stack.type2;
                return cardform;
            },
            attached: function() {

            }
                });
    </script>

</dom-module>