<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">

<dom-module id="zenmaster-tipps">

    <template>
        <style>
            .try {
                font-size: 150%;
                font-weight: bold;
            }

            .inp {
                width: 160px;
            }

            .card {
                margin: 2px;
                padding: 10px;
                width: 300px;
                border: 1px solid black;
                background-color: lightgray;
            }

            .page-break {
                page-break-after: always;
                background-color: red;
                width: 650px;
            }

            img {
                width: 120px;
                height: 200px;
            }

            .info {
                width: 250px;
                margin: 5px;
                border: 1px solid black;
                background-color: lightgray;
            }
        </style>
        <firebase-document location="https://protogames.firebaseio.com/zenmaster" data="{{data}}" log></firebase-document>
        <template is="dom-if" if="{{data.started}}">
            <h3 style="color:green;background-color: lightgray;width:400px;">Der Zenmeister ist bereit.</h3>
        </template>
        <table>
            <tr>
                <th></th>
                <th width="180px">Versuch</th>
                <th width="40px">Form oder Oberfläche</th>
                <th width="40px">Inhalt oder Bewegung</th>
                <th width="40px">Ort oder Zeit</th>
                <th width="40px">Größe oder Gewicht</th>
            </tr>
            <template is="dom-repeat" items="{{data.tips}}">
                <template is="dom-if" if="{{isTipp(item)}}">
                    <tr>
                        <td><span class="try">{{index}}</span><span class="try">: </span></td>
                        <td>
                            <input class="try inp" value="{{item.value::input}}" disabled="{{master}}"></input>
                        </td>
                        <td>
                            <paper-checkbox checked="{{item.form}}" disabled="{{!master}}"></paper-checkbox>
                        </td>
                        <td>
                            <paper-checkbox checked="{{item.inhalt}}" disabled="{{!master}}"></paper-checkbox>
                        </td>
                        <td>
                            <paper-checkbox checked="{{item.ort}}" disabled="{{!master}}"></paper-checkbox>
                        </td>
                        <td>
                            <paper-checkbox checked="{{item.gewicht}}" disabled="{{!master}}"></paper-checkbox>
                        </td>
                    </tr>
                </template>
                <template is="dom-if" if="{{!isTipp(item)}}">
                    <tr>
                        <td><span class="try">{{index}}</span><span class="try">: </span></td>
                        <td>
                            <input class="try inp" value="{{item.value::input}}" disabled="{{!master}}"></input>
                        </td>
                        <td>
                            <paper-radio-button name$="{{item}}" checked="{{item.form}}" disabled="{{master}}"></paper-radio-button>
                        </td>
                        <td>
                            <paper-radio-button name$="{{item}}" checked="{{item.inhalt}}" disabled="{{master}}"></paper-radio-button>
                        </td>
                        <td>
                            <paper-radio-button name$="{{item}}" checked="{{item.ort}}" disabled="{{master}}"></paper-radio-button>
                        </td>
                        <td>
                            <paper-radio-button name$="{{item}}" checked="{{item.gewicht}}" disabled="{{master}}"></paper-radio-button>
                        </td>
                    </tr>
                </template>
            </template>
        </table>
        <template is="dom-if" if="{{!master}}">
            <div style="float:left;margin-top: 30px;margin-left: 24px;">
                <div class="card">
                    <h2>A) Form oder Oberfläche</h2>
                    <p>Wie ist die Gestalt des Dings? Ist es eher rund oder eckig? Flach oder stabförmig? Ist seine Oberfläche glatt oder rauh? Hart oder elastisch? Fühlt es sich warm an? Besteht es aus mehreren Teilen?</p>
                </div>
                <div class="card">
                    <h2>B) Inhalt oder Extra</h2>
                    <p>Welche Bestandteile hat das Ding? Hat es Zähne, Räder oder Gelenke? Bewegt es sich selbständig? Hat es Symbole oder leuchtet es? Macht es Geräusche oder braucht es Elektrizität? Schmeckt es gut oder riecht es? Ist es teuer oder gibt es viele davon?</p>
                </div>
                <div class="card">
                    <h2>C) Ort oder Zeit</h2>
                    <p>Zu welcher Zeit gibt es das Ding häufiger? Im Winter oder Sommer? Früher oder Jetzt? An welchen Orten gibt es das Ding häufiger? Stadt oder Wald? In der Nähe oder weiter weg? Im Freibad oder Zoo? Im Büro oder zu Hause?</p>
                </div>
                <div class="card">
                    <h2>D) Größe oder Gewicht</h2>
                    <p>Wie gross ist es? Klein, Mittel, groß oder sehr groß? Wie schwer ist es? Leicht, mittel oder schwer?</p>
                </div>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'zenmaster-tipps',
            properties: {
                master: {
                    type:Boolean,
                    value: false
                },
                data: {type:Object, notify: true},
            },
            isTipp: function (o){
                if(o.name == 'tip')
                    return true;
                return false;
            },
            ready: function() {


            }
        });
    </script>

</dom-module>
</head>