<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-document.html">
<link rel="import" href="monstermob-container.html">
<link rel="import" href="monstermob-card.html">

<dom-module id="monstermob-game">

    <template>
        <style>
            :host {
                cursor: pointer;
                padding: 4px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            div.flex {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-between;
            }

            paper-button {
                background-color: orange !important;
                color: white !important;
                padding: 4px;
            }
        </style>
        <firebase-document location="https://protogames.firebaseio.com/monstermob/" data="{{game}}" log></firebase-document>
        <paper-button on-tap="newGame">neues Spiel</paper-button>
        <div class="flex">
            <template is="dom-repeat" items="{{game.players}}">
                <template is="dom-if" if="{{item.name}}">
                    <monstermob-container container="{{item}}" data="{{game.data}}">
                    </monstermob-container>
                </template>
                <template is="dom-if" if="{{!item.name}}">
                    <div style="border: 5px solid black;padding: 20px;background-color: white; text-align: center;">
                        <h1>Monster Mob</h1>
                        <img src="img/Biss.png">
                        <br>
                        <iron-icon style="width: 100px;height: 100px;" icon="chevron-right" on-tap="moveMonster"></iron-icon>
                    </div>
                </template>
            </template>
        </div>
    </template>

    <script>
        Polymer({
            is: 'monstermob-game',
            properties: {
                game: Object,
                players : {
                    type:Array,
                    notify: true,
                    value: function() {
                        return [
                            {name:'player1', label:'player1', life: 2, gold: 1, active:true},
                            {name:'player2', label:'player2',life: 2, gold: 1, active:false},
                            {name:'player3', label:'player3',life: 2, gold: 1, active:false},
                            {name:'player4', label:'player4',life: 2, gold: 1, active:false},
                            {type:'monster', direction: 'right'}
                        ];
                    }
                }
            },
             listeners: {
                'finish': 'endTurn'},
            attached: function() {
                this.set('game.players',this.players);
            },
            newGame: function() {
                if (this.game == undefined) {
                 this.game = {};
                }
                this.game.data = this.shuffle(cards);
                for(idx in this.game.data) {
                   this.set('game.data.' + idx + '.owner', '');
                 }
                var count = 0;
                for(idx in this.game.players) {
                    if (this.game.players[idx].type != 'monster') {
                    this.set('game.data.' + count++ + '.owner', this.game.players[idx].name);
                    this.set('game.data.' + count++ + '.owner', this.game.players[idx].name);
                    }
                }
            },
            ready: function() {
                if (this.game == undefined) {
                    this.newGame();
                }
            },
            getMonsterIdx: function() {
                return this.game.players.map(function(e) { return e.type; }).indexOf('monster');
            },
            getMonster: function() {
                return this.game.players[this.getMonsterIdx()];
            },
            moveMonster: function() {
                var index = this.getMonsterIdx();
                var monster = this.game.players[index];
                var by = (monster.direction == 'left') ? -1 :  1;
                var newPos = (index + by) % this.game.players.length;
                this.splice('game.players',index,1);
                this.splice('game.players',newPos,0,monster);
            },
            refill: function() {
                var count = 0;
                for(idx in this.game.players) {
                    var filtered = this.data.filter(isOwner(this.game.players[idx].name));
                    if (filtered.length == 1) {
                    }
                }
            },
			endTurn: function (e){
                var idx = this.game.players.findIndex(function(n) {
                return n.active == true;
                });
                this.set('game.players.' + idx + '.active', false);
                var nextIdx = (idx+1) % this.game.players.length;
                if (this.game.players[nextIdx].type == 'monster') {
                    nextIdx = (nextIdx+1) % this.game.players.length;
                }
                this.set('game.players.' + nextIdx + '.active', true);
            },
			isDirection: function (item, dir){
                return item.direction == dir;
            },
			isOwner: function (item , own){
                return item.owner == own;
            },
			shuffle: function (o){
			    for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
			    return o;
			}
        });
    </script>

</dom-module>