<!doctype html>
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../components/board-game-dice/board-game-dice.html">

<link rel="import" href="../components/board-game-container/DraggableContainerBehavior.html">

<dom-module id="hotdice-container">

    <template>
        <style>
            :host {
                cursor: pointer;
                padding: 4px;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            #tmpl {
                display: flex;
                justify-content: space-around;
                align-content: space-between;
            }
        </style>
        <paper-card heading="{{container}}" container="{{container}}">
            <div class="card-content">
                <template is="dom-repeat" id="tmpl">
                    <board-game-dice on-track="trackElement" draggable="true" color="{{item.color}}" items="{{item.items}}"></board-game-dice>
                </template>
            </div>
            <template is="dom-if" if="{{notStack(container)}}">
            <div class="card-actions">
                <iron-icon icon="refresh" on-tap="reroll"></iron-icon>
            </div>
            </template>
        </paper-card>
    </template>

    <script>
        Polymer({
            is: 'hotdice-container',
            behaviors: [DraggableContainerBehavior],
            reroll: function () {
                Polymer.dom(this.root).querySelectorAll("board-game-dice")
                    .forEach(function(entry) {entry.reroll()});
            },
            notStack: function (container) {
                return container != "stack";

            },
            
        });
    </script>

</dom-module>