<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<dom-module id="board-game-card">
    <style>
        :host {
            display: inline-block;
            position: relative;
            background-color: gray;
            border: 1px sloid black;
            border-radius: 3px;
            padding: 2px;
            margin: 5px;
            font-size: 1em;
            font-weight: 300;
            page-break-inside: avoid;
            -webkit-region-break-inside: avoid;
        }
    </style>
    <template>
        <iron-pages id="card" selected="0" on-click="toggle">
            <content></content>
        </iron-pages>
    </template>
</dom-module>
<script>
    Polymer({
		    is: 'board-game-card',
			properties: {
    		  open:  {
		          type: Boolean,
		          observer: '_show'
	          },
	        },
            ready: function() {
	          //draggie = new Draggabilly( this);
	        },
	        move: function() {
	            this.style.top = (30 - this.offsetTop) + "px";
	            this.style.left = (1680 - this.offsetLeft) + "px";
	        },
	        _show: function(open) {
				var card = this.$.card;
				if(this.open)
		            card.selected = 1;
				else
		            card.selected = 0;
	        },
			toggle: function() {
				var card = this.$.card;

				card.selected = (card.selected + 1) % 2;
			}
		});

</script>