<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="board-game-dice">
    <template>
        <style>
            :host {
                display: inline-block;
            }
            #front {
                color: black;
                border: 1px solid black;
                border-radius: 20%;
                padding: 3px;
                cursor: pointer;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                font-size: 200%;
                font-weight: bold;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }

            #front.dark {
                color: white;
                background-color: black;
                border: 1px solid white;
            }
            .lightgreen {
                background-color: lightgreen;
            }
            .lightblue {
                background-color: lightblue;
            }
            .orange {
                background-color: orange
            }
            .lightyellow {
                background-color: lightyellow;
            }
        </style>
        <div draggable="true" class$="{{color}} layout vertical center" id="front">{{val}}</div>

    </template>

</dom-module>

<script>
    Polymer({

    is: 'board-game-dice',
    behaviors: [],
    properties: {
            val: String,
            dark: {
                type: Boolean,
                value: false
            },
    		items:  {
		        type: Array,
                value: [1,2,3,4,5,6]
	        },
    		color: String,
	      },
          ready: function() {
              this.$.front.style.width = '50px';
              this.$.front.style.height = '50px';
              if (this.val == undefined)
                  this.reroll();
              this.toggleClass("dark", this.dark, this.$.front);
	      },
          reroll: function(e) {
              this.val = this.items[Math.floor(Math.random() * this.items.length)];
          }

  });

</script>