<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="game-dice.html">
<script src="data.js"></script>

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="mommel-board">
  <style>
    :host {
      display: block;
    }

    .card {
      height: 80px;
      width: 200px;
      font-size: 20px;
      font-weight: bold;
      background-color: white;
      border: 1px solid black;
      padding: 20px 10px 0 10px;
      margin: 10px;
      text-align: center;
      vertical-align: middle;
      box-shadow: 3px;
    }
  </style>
  <template>
    <div id="diceout">
      <span id="shuffler"></span>
    </div>
    <div layout="" vertical="" center="">
      <span layout="" horizontal="" center="">
        <div class="card">{{category}}</div>
      </span>
      <span>Konsonanten: <span>{{kons}}</span> (<span>{{kons.length}}</span>)
      <br>Vokale: <span>{{vok}}</span> (<span>{{vok.length}}</span>)
      <br>Anzahl: <span>{{count}}</span></span>
      <div id="dicerow" style="width: 100%">
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{vok}}"></game-dice>
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{vok}}"></game-dice>
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{kons}}"></game-dice>
        <game-dice charset="{{vok}}"></game-dice>
      </div>
    </div>
    <div style="text-align: center">Die Buchstaben können mit der Maus verschoben werden.</div>
    <div style="font-size: 40px;width:8ßßpx; text-align: center;">↓</div>
    <div style="width: 800px; height: 300px;background-color:#526E9C; border: 1px solid black; ">Ablage:</div>
  </template>
  <script>
    function get(name) {
      if (name = new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)').exec(location.search))
        return decodeURIComponent(name[1]);
    }

    Polymer({
      is: 'mommel-board',
      properties: {
         category: {
          type: String,
          value: ''
        },
        kons: {
          type: String,
          value: 'NNNNNNSSSSSRRRRRTTTTDDDDHHHLLLCCGGMMBBWWFKZPVJYXQ'
        },
        vok: {
          type: String,
          value: 'EEEEEEEIIIIIIAAAAAUUUOO\xC4\xD6\xDC'
        },
        categories: {
          type: Array,
          value: getData()
        },
        konsonant: {
          type: String,
          computed: 'getKons(kons)'
        },
        vokal: {
          type: String,
          computed: 'getVok(vok)'
        }
      },
      getKons: function () {
        if(this.kons == undefined)
          return "c";
        var idx = Math.floor(Math.random() * this.kons.length);
        var res = this.kons.slice(idx, idx + 1);
        this.kons = this.kons.slice(0, idx) + this.kons.slice(idx + 1, this.kons.length);
        return res;
      },
      getVok: function () {
        if(this.vok == undefined)
          return "a";
        var idx = Math.floor(Math.random() * this.vok.length);
        var res = this.vok.slice(idx, idx + 1);
        this.vok = this.vok.slice(0, idx) + this.vok.slice(idx + 1, this.vok.length);
        return res;
      },
      count: function () {
        if (this.kons == undefined)
          return 0;
        return this.kons.length + this.vok.length;
      },
      attached: function() {
		      console.log(this.kons);
      },
      ready: function () {
        var k = get('kons');
        if (k != undefined) {
          this.kons = k;
        }
        else {
          this.kons = 'NNNNNNSSSSSRRRRRTTTTDDDDHHHLLLCCGGMMBBWWFKZPVJYXQ';
        }
        ;
        var v = get('vok');
        if (v != undefined) {
          this.vok = v;
        }
        else {
          this.vok = 'EEEEEEEIIIIIIAAAAAUUUOO\xC4\xD6\xDC';
        }
        ;
        var idx = Math.floor(Math.random() * this.categories.length);
        this.category = this.categories[idx].name;
      }
    });
  </script>
</dom-module>