<link rel="import" href="../../bower_components/polymer/polymer.html">
  <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="mommel-print">
  <style>
    /* TODO(polyup): For speed, consider reworking these styles with .classes
                     and #ids rather than [attributes].
    */
    [layout] {
      @apply(--layout);
    }
    [layout][horizontal] {
      @apply(--layout-horizontal);
    }
    [layout][wrap] {
      @apply(--layout-wrap);
    }
    [layout][vertical] {
      @apply(--layout-vertical);
    }
    [layout][center] {
      @apply(--layout-center);
    }
  </style>
  <style>
      :host {
        display: block;
      }

      .Familie {
        color: green;
      }

      .Erwachsene {
        color: red;
      }

      .header {
        font-size: 50%;
      }

      .card {
        height: 90px;
        width: 200px;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        border: 1px solid black;
        padding: 20px 10px 0 10px;
        margin: 1px;
        text-align: center;
        vertical-align: middle;
        box-shadow: 3px;
      }
    </style>
  <template>
    <div horizontal="" layout="" wrap="" style="width: 1000px">
    <template is="dom-repeat" items="{{categories}}" as="cat">
      <div layout="" vertical="" center="" class$="{{computeClass(cat)}}">
        <div class="header">{{cat.type}}</div>
        <div>{{cat.name}}</div>
      </div>
    </template>
    </div>
  </template>
  <script>
    Polymer({
      is: 'mommel-print',
      properties: {
        categories: {
          type: Array,
          value: function () {
            return [
              {
                'name': 'etwas riesig Gro\xDFes',
                'type': 'Familie'
              },
              {
                'name': 'etwas winzig Kleines',
                'type': 'Familie'
              },
              {
                'name': 'Name einer guten Fee',
                'type': 'Familie'
              },
              {
                'name': 'Dorf in Oberbayern',
                'type': 'Familie'
              },
              {
                'name': 'Zwerg bei Schneewittchen',
                'type': 'Familie'
              },
              {
                'name': 'Comicfigur',
                'type': 'Familie'
              },
              {
                'name': 'Superheld',
                'type': 'Familie'
              },
              {
                'name': 'Spielzeug',
                'type': 'Familie'
              },
              {
                'name': 'Kuscheltier',
                'type': 'Familie'
              },
              {
                'name': 'kleines Nagetier',
                'type': 'Familie'
              },
              {
                'name': 'australisches Beuteltier',
                'type': 'Familie'
              },
              {
                'name': 'Katzenrasse',
                'type': 'Familie'
              },
              {
                'name': 'Fernsehzeitung',
                'type': 'Familie'
              },
              {
                'name': 'abstraktes Brettspiel',
                'type': 'Familie'
              },
              {
                'name': 'Babynahrung',
                'type': 'Familie'
              },
              {
                'name': 'chinesische Gro\xDFstadt',
                'type': 'Familie'
              },
              {
                'name': 'giftiger Pilz',
                'type': 'Familie'
              },
              {
                'name': 'Edelsteinsorte',
                'type': 'Familie'
              },
              {
                'name': 'Jugendwort f\xFCr \u201Adoof\u2018',
                'type': 'Familie'
              },
              {
                'name': 'anderes Wort f\xFCr \u201AQuatsch\u2018',
                'type': 'Familie'
              },
              {
                'name': 'neue Eissorte',
                'type': 'Familie'
              },
              {
                'name': 'Pizza-Name',
                'type': 'Familie'
              },
              {
                'name': 'Teesorte',
                'type': 'Familie'
              },
              {
                'name': 'Schokoriegel',
                'type': 'Familie'
              },
              {
                'name': 'M\xFCsli-Zutat',
                'type': 'Familie'
              },
              {
                'name': 'salzige Knabberei',
                'type': 'Familie'
              },
              {
                'name': 'neue Puddingsorte',
                'type': 'Familie'
              },
              {
                'name': 'Hundefutter',
                'type': 'Familie'
              },
              {
                'name': 'Shampoo-Marke',
                'type': 'Familie'
              },
              {
                'name': 'franz\xF6sischer Weichk\xE4se',
                'type': 'Familie'
              },
              {
                'name': 'Schminkutensil',
                'type': 'Familie'
              },
              {
                'name': 'Zahnpasta',
                'type': 'Familie'
              },
              {
                'name': 'Teil einer Videokamera',
                'type': 'Familie'
              },
              {
                'name': 'tropische Frucht',
                'type': 'Familie'
              },
              {
                'name': 'physikalische Ma\xDFeinheit',
                'type': 'Familie'
              },
              {
                'name': 'etwas Aufblasbares',
                'type': 'Familie'
              },
              {
                'name': 'Singvogel',
                'type': 'Familie'
              },
              {
                'name': 'Tierlaut',
                'type': 'Familie'
              },
              {
                'name': 'gef\xE4hrliches Monster',
                'type': 'Familie'
              },
              {
                'name': 'duftende Blume',
                'type': 'Familie'
              },
              {
                'name': 'Getreidesorte',
                'type': 'Familie'
              },
              {
                'name': 'Singvogel',
                'type': 'Familie'
              },
              {
                'name': 'Boy-Band',
                'type': 'Familie'
              },
              {
                'name': 'anderes Wort f\xFCr \u201Aarm\u2018',
                'type': 'Familie'
              },
              {
                'name': 'anderes Wort f\xFCr \u201Aklug\u2018',
                'type': 'Familie'
              },
              {
                'name': 'Charakter aus \u201AStar Wars\u2018',
                'type': 'Familie'
              },
              {
                'name': 's\xFCdamerikanisches Insekt',
                'type': 'Normal'
              },
              {
                'name': 's\xFCdlichster Ort der Erde',
                'type': 'Normal'
              },
              {
                'name': 'n\xF6rdlichster Ort der Erde',
                'type': 'Normal'
              },
              {
                'name': 'witzigstes Wortspiel aller Zeiten',
                'type': 'Normal'
              },
              {
                'name': 'germanische Gottheit',
                'type': 'Normal'
              },
              {
                'name': 'Berg in den Dolomiten',
                'type': 'Normal'
              },
              {
                'name': 'Skiort in den Alpen',
                'type': 'Normal'
              },
              {
                'name': 'amerikanisches Fertiggericht',
                'type': 'Normal'
              },
              {
                'name': 'spanische Provinz',
                'type': 'Normal'
              },
              {
                'name': 'spanischer Maler',
                'type': 'Normal'
              },
              {
                'name': 'nordamerikanischer Indianerstamm',
                'type': 'Normal'
              },
              {
                'name': 's\xFCdamerikanisches Insekt',
                'type': 'Normal'
              },
              {
                'name': 'brasilianischer Indiostamm',
                'type': 'Normal'
              },
              {
                'name': 'Stamm in Zentralafrika',
                'type': 'Normal'
              },
              {
                'name': 'arabischer Morgengru\xDF',
                'type': 'Normal'
              },
              {
                'name': 'polnische Beleidigung',
                'type': 'Normal'
              },
              {
                'name': '\xF6sterreichische Mehlspeise',
                'type': 'Normal'
              },
              {
                'name': 'indonesisches Wort f\xFCr \u201AReis\u2018',
                'type': 'Normal'
              },
              {
                'name': 'franz\xF6sische Weinsorte',
                'type': 'Normal'
              },
              {
                'name': 'scharfes ungarisches Fleischgericht',
                'type': 'Normal'
              },
              {
                'name': 't\xFCrkische Vorspeise',
                'type': 'Normal'
              },
              {
                'name': 'indisches Hauptgericht',
                'type': 'Normal'
              },
              {
                'name': 's\xFCdafrikanisches Gem\xFCse',
                'type': 'Normal'
              },
              {
                'name': 'tunesisches Nationalgericht',
                'type': 'Normal'
              },
              {
                'name': 'orientalisches Gew\xFCrz',
                'type': 'Normal'
              },
              {
                'name': 'S\xFCdsee-Insel',
                'type': 'Normal'
              },
              {
                'name': 'vegetarischer Burger',
                'type': 'Normal'
              },
              {
                'name': 'chinesisches Wort f\xFCr \u201EHund\u201C',
                'type': 'Normal'
              },
              {
                'name': 'ber\xFChmtes Tier aus Film und Fernsehen',
                'type': 'Normal'
              },
              {
                'name': 'Befehl beim Hundeschlittenrennen',
                'type': 'Normal'
              },
              {
                'name': 'Rufname eines Kampfhundes',
                'type': 'Normal'
              },
              {
                'name': 'Schmetterlingsart',
                'type': 'Normal'
              },
              {
                'name': 'Begriff aus der Seemannssprache',
                'type': 'Normal'
              },
              {
                'name': 'Begriff aus der J\xE4gersprache',
                'type': 'Normal'
              },
              {
                'name': 'landwirtschaftliches Ger\xE4t',
                'type': 'Normal'
              },
              {
                'name': 'TV-Quiz',
                'type': 'Normal'
              },
              {
                'name': 'moderner Musikstil',
                'type': 'Normal'
              },
              {
                'name': 'Heavy-Metal-Band',
                'type': 'Normal'
              },
              {
                'name': 'Programmiersprache',
                'type': 'Normal'
              },
              {
                'name': 'etwas typisch Schwarzes',
                'type': 'Normal'
              },
              {
                'name': 'etwas typisch Wei\xDFes',
                'type': 'Normal'
              },
              {
                'name': 'seltene Gesteinsart',
                'type': 'Normal'
              },
              {
                'name': 'Putzmittel',
                'type': 'Normal'
              },
              {
                'name': 'ungezogenes Kind',
                'type': 'Normal'
              },
              {
                'name': 'Nachfolgew\xE4hrung des Euro',
                'type': 'Normal'
              },
              {
                'name': 'Tiefseebewohner',
                'type': 'Normal'
              },
              {
                'name': 'Gestalt aus der griechischen Mythologie',
                'type': 'Normal'
              },
              {
                'name': 'neuartiges Flugzeug',
                'type': 'Normal'
              },
              {
                'name': 'Mein linker Sitznachbar ist ein \u2026',
                'type': 'Normal'
              },
              {
                'name': 'Mein rechter Sitznachbar ist ein \u2026',
                'type': 'Normal'
              },
              {
                'name': 'Titel eines Actionfilmes',
                'type': 'Normal'
              },
              {
                'name': 'Titel eines Science-Fiction-Filmes',
                'type': 'Normal'
              },
              {
                'name': 'au\xDFerirdisches Volk',
                'type': 'Normal'
              },
              {
                'name': 'das achte Weltwunder',
                'type': 'Normal'
              },
              {
                'name': 'neu entdeckter Planet',
                'type': 'Normal'
              },
              {
                'name': '\xE4gyptischer Pharao',
                'type': 'Normal'
              },
              {
                'name': 'Schuhmarke',
                'type': 'Normal'
              },
              {
                'name': 'Frauenzeitschrift',
                'type': 'Normal'
              },
              {
                'name': 'Label f\xFCr M\xE4dchen-Mode',
                'type': 'Normal'
              },
              {
                'name': 'Marke f\xFCr Babykleidung',
                'type': 'Normal'
              },
              {
                'name': 'Marke f\xFCr Babywindeln',
                'type': 'Normal'
              },
              {
                'name': 'etwas aus Gummi',
                'type': 'Normal'
              },
              {
                'name': 'italienisches Schimpfwort',
                'type': 'Normal'
              },
              {
                'name': 'Tanzstil',
                'type': 'Normal'
              },
              {
                'name': 'edles Parf\xFCm',
                'type': 'Normal'
              },
              {
                'name': 'Luxushotel',
                'type': 'Normal'
              },
              {
                'name': 'etwas sehr Teures',
                'type': 'Normal'
              },
              {
                'name': 'Ger\xE4t im Fitness-Studio',
                'type': 'Normal'
              },
              {
                'name': '\u201ARuhe!\u2018 auf isl\xE4ndisch',
                'type': 'Normal'
              },
              {
                'name': '\u201AProst!\u2018 auf bulgarisch',
                'type': 'Normal'
              },
              {
                'name': '\u201ASchnee\u2018 in der Inuit-Sprache',
                'type': 'Normal'
              },
              {
                'name': 'indische G\xF6ttin',
                'type': 'Normal'
              },
              {
                'name': 'r\xF6mischer Kaiser',
                'type': 'Normal'
              },
              {
                'name': 'seltene Tierart auf Galapagos',
                'type': 'Normal'
              },
              {
                'name': 'finnischer Skisportler',
                'type': 'Normal'
              },
              {
                'name': 'klassischer Komponist',
                'type': 'Normal'
              },
              {
                'name': 'norwegisches Fischgericht',
                'type': 'Normal'
              },
              {
                'name': 'sibirischer Ort',
                'type': 'Normal'
              },
              {
                'name': 'Ort in Alaska',
                'type': 'Normal'
              },
              {
                'name': 'K\xF6nig von Thailand',
                'type': 'Normal'
              },
              {
                'name': 'japanische Insel',
                'type': 'Normal'
              },
              {
                'name': 'Kaffeesorte aus Mittelamerika',
                'type': 'Normal'
              },
              {
                'name': 'persischer Herrscher',
                'type': 'Normal'
              },
              {
                'name': 'neuartiges Baumaterial',
                'type': 'Normal'
              },
              {
                'name': 'die 11. Disziplin beim Zehnkampf',
                'type': 'Normal'
              },
              {
                'name': 'James-Bond-B\xF6sewicht ',
                'type': 'Normal'
              },
              {
                'name': 'Figur aus \u201EHerr der Ringe\u201C',
                'type': 'Normal'
              },
              {
                'name': 'Westernheld',
                'type': 'Normal'
              },
              {
                'name': 'k\xFCnstliches S\xFC\xDFungsmittel',
                'type': 'Normal'
              },
              {
                'name': 'stachelige W\xFCstenpflanze',
                'type': 'Normal'
              },
              {
                'name': 'Vulkan auf einer Karibikinsel',
                'type': 'Normal'
              },
              {
                'name': 'Eintopf-Zutat',
                'type': 'Normal'
              },
              {
                'name': '\u201EDepp!\u201C auf pakistanisch',
                'type': 'Normal'
              },
              {
                'name': 'Trendsportart',
                'type': 'Normal'
              },
              {
                'name': 'Outdoor-Marke',
                'type': 'Normal'
              },
              {
                'name': 'anderes Wort f\xFCr \u201EWeltuntergang\u201C',
                'type': 'Normal'
              },
              {
                'name': 'amerikanischer Gro\xDFkonzern',
                'type': 'Normal'
              },
              {
                'name': 'milit\xE4rischer Befehl',
                'type': 'Normal'
              },
              {
                'name': 'Volksmusikgruppe aus dem Zillertal',
                'type': 'Normal'
              },
              {
                'name': 'Ungeziefer',
                'type': 'Normal'
              },
              {
                'name': 'Kondom-Marke',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201ETeufel\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'abf\xE4lliger Ausdruck f\xFCr \u201EPolitiker\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'latein. Name f\xFCr den Ges\xE4\xDFmuskel',
                'type': 'Erwachsene'
              },
              {
                'name': 'mittelalterliches Folterinstrument',
                'type': 'Erwachsene'
              },
              {
                'name': 'Kneipe auf der Reeperbahn',
                'type': 'Erwachsene'
              },
              {
                'name': 'Was einen Mann gl\xFCcklich macht',
                'type': 'Erwachsene'
              },
              {
                'name': 'Was eine Frau gl\xFCcklich macht',
                'type': 'Erwachsene'
              },
              {
                'name': 'M\xE4nnermagazin',
                'type': 'Erwachsene'
              },
              {
                'name': 'abf\xE4lliger Ausdruck f\xFCr \u201EPolizist\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'abf\xE4lliger Ausdruck f\xFCr eine Frau',
                'type': 'Erwachsene'
              },
              {
                'name': 'abf\xE4lliger Ausdruck f\xFCr einen Mann',
                'type': 'Erwachsene'
              },
              {
                'name': 'Ger\xE4t beim Urologen',
                'type': 'Erwachsene'
              },
              {
                'name': 'sexy Damenunterw\xE4sche',
                'type': 'Erwachsene'
              },
              {
                'name': 'religi\xF6ser Fanatiker',
                'type': 'Erwachsene'
              },
              {
                'name': 'nat\xFCrliches Verh\xFCtungsmittel',
                'type': 'Erwachsene'
              },
              {
                'name': 'Kosewort f\xFCr \u201EBusen\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'Name einer Motorrad-Gang',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201Emotzen\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201ETechtelmechtel\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'Kosename f\xFCr den/die Liebste/n',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201Er\xFClpsen\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201ENasenpopel\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201Epupsen\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'anderes Wort f\xFCr \u201EFu\xDFpilz\u201C',
                'type': 'Erwachsene'
              },
              {
                'name': 'K\xFCnstlername einer Erotikdarstellerin',
                'type': 'Erwachsene'
              },
              {
                'name': 'K\xFCnstlername eines Erotikdarstellers',
                'type': 'Erwachsene'
              },
              {
                'name': 'Besch\xE4ftigte/r einer Recycling-Firma ',
                'type': 'Erwachsene'
              },
              {
                'name': 'Name einer Domina',
                'type': 'Erwachsene'
              },
              {
                'name': 'Im Dunkeln ist gut \u2026',
                'type': 'Erwachsene'
              },
              {
                'name': 'WC-Reiniger',
                'type': 'Erwachsene'
              },
              {
                'name': 'Toilettenpapier-Marke',
                'type': 'Erwachsene'
              },
              {
                'name': 'macht Flecken',
                'type': 'Erwachsene'
              },
              {
                'name': 'macht Flecken weg',
                'type': 'Erwachsene'
              },
              {
                'name': 'Energydrink',
                'type': 'Erwachsene'
              },
              {
                'name': 'Antidepressivum',
                'type': 'Erwachsene'
              },
              {
                'name': 'synthetische Partydroge',
                'type': 'Erwachsene'
              },
              {
                'name': 'brasilianische Telenovela',
                'type': 'Erwachsene'
              },
              {
                'name': 'Abf\xFChrmittel',
                'type': 'Erwachsene'
              },
              {
                'name': 'Zigarettenmarke',
                'type': 'Erwachsene'
              },
              {
                'name': 'Mittel gegen Durchfall',
                'type': 'Erwachsene'
              },
              {
                'name': 'Geisteskrankheit',
                'type': 'Erwachsene'
              },
              {
                'name': 'Atemwegserkrankung',
                'type': 'Erwachsene'
              },
              {
                'name': 'neu entdecktes Bakterium',
                'type': 'Erwachsene'
              },
              {
                'name': 'etwas \xDCbelkeit Erregendes',
                'type': 'Erwachsene'
              },
              {
                'name': 'Flirt-App',
                'type': 'Erwachsene'
              },
              {
                'name': 'Mittel gegen Lustlosigkeit',
                'type': 'Erwachsene'
              },
              {
                'name': 'italienischer Liebesschwur',
                'type': 'Erwachsene'
              },
              {
                'name': 'hochprozentiger Cocktail',
                'type': 'Erwachsene'
              }
            ];
          }
        }
      },
      computeClass: function (cat) {
        return 'card ' + cat.type;
      }
    });
  </script>
</dom-module>