<!doctype html>
<html>

<head>
	<title>polymer Local Dom</title>
	<script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="imports.html">

</head>

<body>
	<h2>minimal template with attribute</h2>
	<x-minTmpl></x-minTmpl>
	<dom-module id="x-minTmpl">

		<template>I am {{name}}!</template>

		<script>
			Polymer({
				is: 'x-minTmpl',
				properties: {
					name: {
						type: String,
						value: "test xy!"
					}
				}
			});
		</script>

	</dom-module>

	<hr/>

	<h2>local dom selector</h2>
	<p>For locating dynamically-created nodes in your element’s local DOM, use the $$ method:
		this.$$(selector)
		$$ returns the first node in the local DOM that matches selector.</p>
	<x-selector></x-selector>

	<dom-module id="x-selector">

		<template>
			<h4 id="name">Test</h4>
			<h4 id="name2"></h4>
		</template>

		<script>
			Polymer({
				is: 'x-selector',
				ready: function() {
					this.$.name2.textContent = this.$$('h4').outerHTML;
				}
			});
		</script>

	</dom-module>

	<hr/>

	<h2>access local id and add content to template</h2>
	<x-custom>
		<span class="greet">Hello World</span>
		<span class="name">Name</span>
	</x-custom>

	<dom-module id="x-custom">

		<template>
			<h4 id="name"></h4>
			<h4 id="name2"></h4>
			<content select=".greet"></content> from <content select=".name"></content>!
		</template>

		<script>
			Polymer({
				is: 'x-custom',
				ready: function() {
					this.$.name.textContent = this.tagName;
					this.$.name2.textContent = this.$$('h4').outerHTML;
				}
			});
		</script>

	</dom-module>


</body>

</html>