<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="game-card.html">
    <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
    <link rel="import" href="game-help.html">
    <link rel="import" href="game-meeple.html">
    <link rel="import" href="game-hexagon.html">
    <link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
    <link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
    <link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="game-show-details.html">
    <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
    <script src="../../bower_components/sugar/release/sugar.min.js"></script>

</head>

<body>

    <dom-module id="game-board">
        <style>
            :host {
             -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
                display: block;
            }

            select {
                margin-top: 0px;
                margin-left: 5px;
            }

            #dialog {
                width: 300px;
                z-index: 10000;
            }

            img.Rucksack {
                opacity: 0.3;
            }

            h4,
            h2 {
                margin: 2px 0;
            }

            paper-dialog {
                border: 2px solid;
                border-color: var(--paper-green-500);
                background-color: var(--paper-light-green-50);
                color: var(--paper-green-500);
                z-index: 2002;
            }
        </style>
        <template>
            <iron-localstorage auto id="local" name="config" value="{{config}}" on-iron-localstorage-load-empty="createConfig"></iron-localstorage>
            <div class="container layout horizontal ">
                <div>
                    <div id="field" style="width: 780px;" class="layout horizontal wrap" on-showdetails="showCard">
                        <template id="cards" is="dom-repeat" items="{{cards}}" as="card" index-as="cardIndex">
                            <game-card imgsrc="{{card.name}}" carddata="{{card}}" akt="{{data.akt}}" item="{{card.imgclass}}">
                            </game-card>
                        </template>
                        <game-hexagon imgsrc="Jack" top="-570" left="340"></game-hexagon>
                        <template is="dom-repeat" items="{{vorrat}}" index-as="index">
                            <game-piece img="{{item}}" top="{{getTop(-1040, index, item, 60)}}" left="{{getLeft(1155,item)}}" imgclass="symbol"></game-piece>
                        </template>
                    </div>
                </div>
                <div>
                    <h1 style="font-size: 200%; margin: 10px 7px;">Die grüne Hölle</h1>



                    <div id="inv" style="margin-top: 5px;background-color: #4CBF80;padding: 5px; border: 2px solid green">
                        <table>
                            <tr>
                                <td>
                                    <h2 style="margin-right: 30px;">Kartenstapel</h2>
                                    <div style="width: 120px;height: 370px;">

                                    </div>
                                </td>
                                <td>
                                    <h2 style="margin-right: 15px;">Inventar</h2>

                                    <template is="dom-repeat" items="{{inventar}}">
                                        <h4>{{item}}</h4>
                                        <div class="layout horizontal" style="padding-top: 15px;background-color:#eee; border: 2px solid black; height:80px; width: 175px">
                                            <div style="width: 60px; height:60px; border: 1px solid black; background-color: #aaa;border-radius: 50%"></div>
                                            <div style="width: 60px; height:60px; border: 1px solid black; background-color: white;border-radius: 50%">
                                                <img src="img/{{item}}.png" class$="{{item}}" style="border-radius: 50%;width:50px;height:50px; margin-top: 5px;margin-left: 5px;">
                                            </div>
                                            <div style="width: 60px; height:60px; border: 1px solid black; background-color: #aaa;border-radius: 50%"></div>
                                        </div>
                                    </template>
                                </td>

                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <h2>Konfiguration</h2></td>
                            <td>
                                <select id="akt" value="{{config.akt::input}}">
                                    <option value="1">Akt 1</option>
                                    <option value="2">Akt 2</option>
                                </select>
                            </td>
                            <td>
                                <paper-toggle-button noink checked="{{config.open}}">
                                    <h2>Alle offen</h2></paper-toggle-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>Akt 1</h2></td>
                            <td>
                                <select id="sterne" value="{{config.stars::input}}">
                                    <option value="1">ein Stern</option>
                                    <option value="2">zwei Sterne</option>
                                    <option value="3">drei Sterne</option>
                                </select>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2>Akt 2</h2></td>
                            <td>
                                <paper-toggle-button noink checked="{{config.check.jaeger}}">
                                    <h2><iron-icon icon="accessibility"></iron-icon> Jäger</h2></paper-toggle-button>
                            </td>
                            <td>

                                <paper-toggle-button noink checked="{{config.check.jane}}">
                                    <h2><iron-icon icon="gesture"></iron-icon> Jane</h2></paper-toggle-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form>
                                    <input style="margin-top: 10px; margin-left: 20px;" type="button" on-click="reload" value="Neu laden">
                                </form>
                            </td>
                            <td>
                                <paper-toggle-button noink checked="{{config.check.jack}}">
                                    <h2><iron-icon icon="build"></iron-icon> Jack</h2></paper-toggle-button>
                            </td>
                            <td>
                                <paper-toggle-button noink checked="{{config.check.mine}}">
                                    <h2><iron-icon icon="select-all"></iron-icon> Mine</h2></paper-toggle-button>
                            </td>
                        </tr>
                    </table>
                    <div id="bigCard" style="background-color:white; border: 2px solid black; height:425px; width: 275px; margin-left: 150px;">
                        <game-show-details id="details"></game-show-details>
                    </div>

                    <template is="dom-if" if="{{isAkt(config.akt, 2)}}">
                        <div style="border: 1px solid black; padding: 2px;margin: 5px;">
                            <p style="margin: 1px;">Nach Gewinn einer Partie mit 1,2 oder 3 Sternen
                                <br>wird das Geheimnis 1,2 oder 3 gelüftet:</p>

                            <template is="dom-repeat" items="{{data.secrets}}">
                                <button style="" on-tap="openDialog">Geheimnis {{item.level}}</button>

                            </template>


                        </div>

                    </template>
                    <paper-dialog id="dialog" modal>
                        <h2>Geheimnis Nr. {{level}} <game-help text="{{secret}}"></game-help></h2>
                        <h3>Nur lesen, wenn du die Schatzkammer mit {{level}} Stern(en) geöffnet hast!</h3>
                        <p>{{secret}}</p>
                         <div class="buttons">
                            <paper-button dialog-confirm autofocus>OK</paper-button>
                        </div>
                    </paper-dialog>

                </div>
                <div>
                    <h1>Vorrat</h1>
                </div>
            </div>
        </template>
        <script>
            function get(name) {
            if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }


        function shuffle(o) {
            for (var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
            return o;
        }
        ;
        Array.prototype.contains = function (obj) {
            var i = this.length;
            while (i--) {
                if (this[i] === obj) {
                    return true;
                }
            }
            return false;
        };
        Polymer({
            is: 'game-board',
            properties: {
                data: Object,
                config: Object,
                vorrat: {
                    type: Array,
                    value: ['Fackel','Liane','Liane','Machete','Machete','Gegengift','Gegengift','Boot','Schrumpfkopf','Rucksack','Tagebuch','Pistole']
                },
                inventar: {
                    type: Array,
                    value: ['Jack','Jane','Rucksack']
                },
               cards: { notify: true },
                // initialize the element's model
                width: {
                    type: String,
                    value: '1480px',
                    notify: true
                }
            },
            observers: [
                "configChanged(config.*)"
            ],
            createConfig: function () {
                 this.config = {
                     check: {},
                     akt: 1,
                     open: false,
                     stars: 1
                 }
                this.notifyPath('config.akt',this.config.path);
            },
            attached: function () {
              
                if (this.config.akt == 1) {
                    this.data = data1;
                }
                if (this.config.akt == 2) {
                    this.data = data2;

                }

                var actions = shuffle(this.data.initActions);
                var actIn = [];
                 if (this.config.akt == 1) {
                   this.config.akt1 = ['home', undefined, undefined, undefined];
                    for (var i=0; i<this.config.stars;i++) {
                        this.config.akt1[i+1] = 'star';
                    }
                   actIn = this.config.akt1;

                }
                 if (this.config.akt == 2) {
                    if(this.config.check == undefined)
                        this.config.check = {};
                   this.config.akt2 = ['home'];
                   if(this.config.stars >= 1) {
                       this.config.akt2 = ['exit-to-app'];
                   }
                   if(this.config.check.jane) {
                       this.config.akt2.push('gesture');
                   }
                   if(this.config.check.jaeger) {
                       this.config.akt2.push('accessibility');
                   }
                   if(this.config.check.jack) {
                       this.config.akt2.push('build');
                   }
                   if(this.config.check.mine) {
                       this.config.akt2.push('select-all');
                   }
                     for (var i=this.config.akt2.length; i<4;i++) {
                        this.config.akt2[i+1] = undefined;
                    }
                   actIn = this.config.akt2;
                }
                console.log(actIn);
                var actOut = [];
                actIn.forEach(function(actionid) {
                    var  item = actions.filter(function(el) {
                        if (actionid == undefined||actionid == null)
                            return el.order == undefined;
                        return el.order == actionid;
                    })[0];
                    var idx = actions.indexOf(item);
                    actions.splice(idx,1);
                    actOut.push(item);
                });

                this.cards = shuffle(this.data.initcards);
                var actionIter = shuffle(actOut).entries();
                this.splice('cards', 0, 0, actionIter.next().value[1]);
                this.splice('cards', 6, 0, actionIter.next().value[1]);
                this.splice('cards', 24, 0, this.data.start);
                this.splice('cards', 42, 0, actionIter.next().value[1]);
                this.splice('cards', 48, 0, actionIter.next().value[1]);
                this.async(function () {
                    // code that formerly resided in `domReady`
                    this.$.field.children[8].show();
                    this.$.field.children[12].show();
                    this.$.field.children[16].show();
                    this.$.field.children[18].show();
                    this.$.field.children[24].show();
                    this.$.field.children[30].show();
                    this.$.field.children[32].show();
                    this.$.field.children[36].show();
                    this.$.field.children[40].show();
                    var startarr = [
                        8,
                        12,
                        16,
                        18,
                        24,
                        30,
                        32,
                        36,
                        40,
                    ];
                    var questarr = [
                        0,
                        6,
                        42,
                        48
                    ];
                    for (var i = 0; i <= 49; i++) {
                        if (startarr.contains(i)) {
                            this.$.field.children[i].show();
                        } else {
                            if (!questarr.contains(i)) {
                                if (!this.config.open)
                                  this.$.field.children[i].move();
                                else
                                  this.$.field.children[i].show();
                            }
                            else {
                                 if (this.config.open)
                                  this.$.field.children[i].show();
                            }
                        }
                    }

                });

            },
            openAll: function () {
                for (var i = 0; i < 49; i++) {
                    this.$.field.children[i].show();
                }
            },
            showCard: function (e, details, sender) {
                var infocard = document.getElementById('details');
                infocard.show(details);
            },
            isAkt: function (akt, target) {
                return akt == target;
            },
            getTop: function (base, index,item,step) {
                var it = this.config.items.find(function(n) {
                    return n.img == item;
                });
                if (it == undefined) {
                    console.log("top: " + (base +index*step));
                    return base +index*step;
                }
                this.config.items.remove(it);
                return base + it.top - 67;
            },
            getLeft: function (left,item) {
                var it = this.config.items.find(function(n) {
                    return n.img == item;
                });
                if (it == undefined)
                    return left;
                console.log("left: " + it.left);
                return it.left -69;
            },
            reload: function () {
                var inv = document.getElementById("inv");
                var invrect = this.getOffsetRect(inv);
                var pieces = document.getElementsByTagName("game-piece");
                this.config.items = [];
                for (idx in pieces) {
                    var piece = pieces[idx];
                    var rect = this.getOffsetRect(piece);
                    var diffY = rect.top - invrect.top;
                    var diffX = rect.left  - invrect.left+120;
                    if(rect.top > 0 && rect.left > 0 && diffX > 220 && diffY > 0 && diffY < inv.getBoundingClientRect().height &&  diffX < inv.getBoundingClientRect().width) {
                        this.config.items.push({img: piece.img, top: rect.top, left: rect.left});
                    }

                }
                this.notifyPath('config.items',this.config.items);
                console.log(this.config.items);

               history.go(0);
            },
            getOffsetRect: function (elem) {
                if (elem.getBoundingClientRect == undefined)
                return { top: 0, left: 0};
                var box = elem.getBoundingClientRect()

                var body = document.body
                var docElem = document.documentElement

                // (2)
                var scrollTop = window.pageYOffset || docElem.scrollTop || body.scrollTop
                var scrollLeft = window.pageXOffset || docElem.scrollLeft || body.scrollLeft

                // (3)
                var clientTop = docElem.clientTop || body.clientTop || 0
                var clientLeft = docElem.clientLeft || body.clientLeft || 0

                // (4)
                var top  = box.top +  scrollTop - clientTop
                var left = box.left + scrollLeft - clientLeft

                return { top: Math.round(top), left: Math.round(left) }
            },
            openDialog: function (e, nbr) {
                this.level = e.model.item.level;
                this.secret = e.model.item.text;
                this.$.dialog.open();
            },
            configChanged: function(changeRecord) {
                console.log('path: ' + changeRecord.path);
                console.log('value: ' + changeRecord.value);
            },
            refresh: function () {
                console.log("refresh");
                this.$.local.
                history.go(0);
            },
        });
        </script>
    </dom-module>
</body>

</html>