<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/voice-elements/dist/voice-player.html">
<link rel="import" href="game-piece.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="game-card">
    <style>
        :host {
            display: block;
            position: relative;
            background-color: white;
            border: 1px solid black;
            padding: 2px;
            margin: 1px;
            width: 100px;
            height: 150px;
            font-size: 1em;
            page-break-inside: avoid;
            -webkit-region-break-inside: avoid;
             -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .card-header {
            margin: 1px;
        }

        .card-header h2 {
            margin: 0;
        }

        .card-header .picture {
            width: 35px;
            border: 1px dotted black;
            margin: 2px;
            width: 60%;
            height: 50px;
        }

        .card-header .picture.symbol {
            border-radius: 50%;
            border: 2px solid green;
            opacity: 0.5;
        }

        .info {
            background-color: #AEC9E8;
        }

        .warn {
            background-color: #FFF09D;
        }

        .problem {
            background-color: #FFCA6F;
        }
        .text {
            font-size: 6pt;
            line-height: 0.9em;
        }
        .backtext {
            position: absolute;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }
    </style>
    <style is="custom-style">
        .big {
            --iron-icon-height: 64px;
            --iron-icon-width: 64px;
        }
    </style>
    <template>
        <iron-pages id="card" on-tap="toggle" on-mouseenter="sendCard">
            <div>
                <img class="flex self-stretch" src$="img/back{{carddata.task}}.png" style="width: 99%; height: 150px">
                <template is="dom-if" if="{{carddata.task}}">
                    <div class="backtext" style=" left: 15px;top: 20px;">
                        Akt <span>{{akt}}</span>
                    </div>
                    <div class="backtext" style=" left: 20px;top: 60px">
                        <iron-icon class="big" icon="{{carddata.order}}"></iron-icon>
                    </div>.
                </template>
            </div>
            <div class="card-header">
                <voice-player id="player" accent="de-DE" text="{{carddata.Aktion}}"></voice-player>
                <div class$="layout vertical center {{carddata.info}}">
                    <span>{{carddata.name}}</span>
                    <template is="dom-if" if="{{akt}}">
                        <div class="fit" style="left: 2.5px;top: 2px">
                            <template is="dom-if" if="{{carddata.task}}"><img src="img/Stern.png" style="width:15px;height: 15px;" alt="">
                            </template>
                        </div>
                    </template>
                    <img src$="img/{{carddata.name}}.png" style="" class$="picture {{carddata.imgclass}}">

                    <div class="handle text" style="width:90%; margin: 1px 16px 1px 7px;">{{carddata.Aktion}}</div>
                    <template is="dom-if" if="{{carddata.flavour}}">
                        <div class="handle text" style="width:90%; margin: 1px 16px 1px 7px;font-style:italic;">{{carddata.flavour}}</div>
                    </template>
                    <div class="handle" style="width:90%; font-size: 6px;margin: 1px 16px 1px 7px;"><span>{{carddata.type}}</span> (<span>Akt {{akt}}</span>)</div>
                    <template is="dom-if" if="{{carddata.ver}}">
                        <div class="fit" style="left: 89px;"><img src="img/vertic.jpg" style="width:15px;height: 154px;" alt=""></div>
                    </template>
                    <template is="dom-if" if="{{carddata.hor}}">
                        <div class="fit" style="top: 139px;"><img src="img/horiz.jpg" style="height:15px; width: 104px;" alt=""></div>
                    </template>
                    <template is="dom-if" if="{{item}}">
                        <game-piece top="-100" left="-25" img="{{carddata.name}}" imgclass="{{carddata.imgclass}}"></game-piece>
                    </template>
                </div>
            </div>
        </iron-pages>
        <paper-material elevation="1"></paper-material>
    </template>
    <script>
        Polymer({
      is: 'game-card',
      properties: {
        carddata: {
          type: Object,
          notify: true
        },
        akt: String,
        item: { notify: true },
        selected: {
          type: String,
          value: '0',
          notify: true,
          observer: 'toggle'
        },
      },
      ready: function () {
        this.$.card.selected = this.selected;
        this.draggie = new Draggabilly(this);
      },
      // draggie.on( 'dragEnd', function( draggieInstance, event, pointer ) {
      // 	draggieInstance.disable();
      // });
      sendCard: function () {
        var card = this.$.card;
        if (card.selected == 1) {
          this.fire('showdetails', { card: this.carddata });
        }
      },
      move: function () {
        this.style.top =120 - this.offsetTop + 'px';
        this.style.left = 790 - this.offsetLeft + 'px';
      },
      show: function () {
        var card = this.$.card;
        card.selected = 1;
      },
      toggle: function () {
        var card = this.$.card;
        if(this.$.player != undefined) {
            if (card.selected == 0) {
            this.$.player.cancel();
            this.$.player.speak();
            } else {
            //this.$.player.cancel();
            return;
            }
        }
        card.selected = 1;
        //(card.selected + 1) % 2;
        card.className = card.className + ' clicked';
        this.fire('showdetails', { card: this.carddata });
      },
      computeSrc: function (carddata) {
        if (carddata.task == undefined)
          return 'img/back.png';
        return 'img/back' + carddata.task + '.png';
      },
      computeClass: function (carddata) {
        return 'picture ' + carddata.imgclass;
      },
      computeImg: function (carddata) {
        return 'img/' + carddata.name + '.png';
      }
    });
    </script>
</dom-module>