<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/voice-elements/dist/voice-player.html">

<dom-module id="game-show-details">
    <style>
        :host {
            display: block;
            position: relative;
            background-color: white;
            padding: 2px;
            margin: 5px;
            width: 250px;
            height: 400px;
            font-size: 1em;
            font-weight: 150;
            line-height: 1.2em;
             -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        h2 {
            margin: 0;
            font-size: 1.8rem;
            font-weight: 150;
        }
        
        .card-header .picture {
            width: 35px;
            margin: 5px;
        }
        
        .card-header .picture.symbol {
            border-radius: 50%;
            border: 2px solid green;
            opacity: 0.5;
        }
    </style>
    <template>
        <div class="card-header" on-showdetails="handleDetails">
            <div class="layout vertical center" on-tap="talk">
                <voice-player id="player" accent="de-DE" text="{{ text }} {{flavour}}"></voice-player>
                <h2>{{titleText}}</h2>
                <img src="{{computeSrc(imgSrc)}}" style="width:60%;height:100px;margin: 5px;" class$="{{computeClass(cardData)}}">

                <div style="font-size:18px;line-height: 1.2em;">{{text}} <span style="font-style:italic;">{{flavour}}</span></div>

            </div>
        </div>
        <paper-material elevation="2"></paper-material>
    </template>
    <script>
        Polymer({
      is: 'game-show-details',
      properties: {
        cardData: { notify: true },
        imgSrc: {
          type: String,
          value: 'Jack',
          notify: true
        },
        symbol: { notify: true },
        text: { notify: true },
        flavour: { notify: true },
        titleText: { notify: true }
      },
      ready: function () {
      },
      show: function (details) {
        this.imgSrc = details.card.name;
        this.text = details.card.Aktion;
        this.flavour = details.card.flavour;
        this.titleText = details.card.name;
      },
      listeners: { handleShowcard: 'showCard' },
      computeClass: function (cardData) {
        return 'picture ' + cardData.imgclass;
      },
      computeSrc: function (imgSrc) {
        return 'img/' + imgSrc + '.png';
      },
      handleDetails: function(e, detail, sender) {
        this.message = 'heard: ' + detail.message;
      },
      talk: function () {
        if(this.$.player != undefined) {
          this.$.player.cancel();
          this.$.player.speak();
        }
      }
    });
    </script>
</dom-module>