<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<dom-module id="game-piece">
    <style>
        :host {
            z-index: 99;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        div {
            position: absolute;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            color: #fff;
            overflow: hidden;
            transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition-delay: 0.2s;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            cursor: move;
            border: 2px solid green;
            background-color: white;
            z-index: 99;
        }

        :host.bigsymbol {
            height: 56px;
        }

        div.bigsymbol img {
            background-color: yellow;
            height: 56px;
        }

        div.symbol img {
            height: 56px;
        }
    </style>
    <template>
        <div id="piece" draggable="true" on-tap="clicker" class$="{{computeClass(imgclass)}}">
            <img id="image" src="img/{{img}}.png" style="width: 60px;">
        </div>
    </template>
    <script>
        Polymer({
      is: 'game-piece',
      properties: {
          print: Boolean,
          top: Number,
          left: Number,
        img: { notify: true,
            reflectToAttribute: true },
        imgclass: { notify: true }
      },
      clicker: function (ev) {
        ev.preventDefault();
        ev.stopPropagation();
        return false;
      },
      attached: function () {
          if(this.print) {
              this.$.piece.style.position = 'static';
              this.$.piece.style.display = 'inline-block';
              this.$.piece.style.width = '24mm';
              this.$.piece.style.height = '24mm';
              this.$.image.style.margin = '4mm';
          } else {
          if(this.top) {
              this.style.top = this.top + "px";
          }
          if(this.left) {
              this.style.left = this.left + "px";
          }
          }
      },
      ready: function () {
        var draggie = new Draggabilly(this);
        draggie.on('dragStart', function (draggieInstance, event, pointer) {
          event.preventDefault();
          event.stopPropagation();
          return false;
        });
        draggie.on('dragMove', function (draggieInstance, event, pointer) {
          event.preventDefault();
          event.stopPropagation();
          return false;
        });
        draggie.on('dragStop', function (draggieInstance, event, pointer) {
          event.preventDefault();
          event.stopPropagation();
          return false;
        });
      },
      computeClass: function (imgclass) {
        return 'fab green ' + imgclass;
      }
    });
    </script>
</dom-module>