<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="game-print-card.html">
<link rel="import" href="../components/page-break-div/page-break-div.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="print-board">
    <style>
        :host {
            display: block;
        }

        game-print-card {
            margin: 0 -1px;
        }

        #gameTable {
            width: 180mm;
        }
    </style>
    <template>

        <div id="gameTable">
           <template is="dom-repeat" items="{{cards}}" as="card" index-as="cardIndex">
                <game-print-card selected="1" cardData="{{card}}"></game-print-card>
                <page-break-div nmbr="{{cardIndex}}" max="16"></page-break-div>
            </template>
            <br>
             <div style="page-break-before: always; width: 800px;">symbols</div>
            <template is="dom-repeat" items="{{cards}}" as="card" index-as="cardIndex">
                <template is="dom-if" if="{{ card.imgclass}}">
                    <game-piece print style="margin: 2px;" img="{{card.name}}" imgclass="{{card.imgclass}}"></game-piece>
                </template>
            </template>
        </div>
    </template>
    <script src="js/base.js"></script>
    <script src="js/data1.js"></script>
    <script src="js/data2.js"></script>
    <script src="js/data3.js"></script>
    <script>
        var initcards=[];
        initcards.push.apply(initcards,data1.initcards);
        initcards.push.apply(initcards,data1.initActions);
        initcards.push.apply(initcards,data1.start);
        initcards.forEach(function(c) {if (c.akt == undefined) c.akt=1});
        initcards.push.apply(initcards,data2.initcards);
        initcards.push.apply(initcards,data2.initActions);
        initcards.push.apply(initcards,data2.start);
        initcards.forEach(function(c) {if (c.akt == undefined) c.akt=2});

    Polymer({
      is: 'print-board',
      properties: {
        cards: { type: Array, notify: true},
        // initialize the element's model
        width: {
          type: String,
          value: '180mm',
          notify: true
        }
      },
      attached: function () {
        this.cards = initcards;
      },
      ready: function () {
        this.style.width = this.width;
      },
      computeImg: function (card) {
        return 'img/' + card.name + '.png';
      }
    });
    </script>
</dom-module>