<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../components/page-break-div/page-break-div.html">
    <link rel="stylesheet" href="../css/main.css">
    <script src="data.js"></script>
    <title>Attack</title>
    <style>
        .game {
            width: 165mm;
            height: 165mm;
            border: 2px solid gray;
            border-radius: 5px;
            padding: 2mm;
        }

        .card {
            width: 25mm;
            height: 25mm;
            border: 4px solid darkslategray;
            border-radius: 10%;
            display: inline-block;
            margin: 2mm;
            font-size: 18mm;
            color: black;
            text-align: center;
        }
        .item {
            height: 100%;
            margin-top: 10mm;
        }
        .red {
            background-color: #EF5350;
        }
        .orange {
            background-color: #FFA726;
        }
        .yellow {
            background-color: #FFEE58;
        }
        .green {
            background-color: #9CCC65;
        }
        .blue {
            background-color: #29B6F6;
        }
    </style>
</head>

<body>
    <template id="tmpl" is="dom-bind">
        <div class="game">
            <template is="dom-repeat" items="{{cards}}">
                <div class$="card {{item.color}}" >
                    <div class="item">{{item.name}}</div>
                </div>
            </template>
        </div>
    </template>

    <script>
        var t = document.querySelector('#tmpl');
		t.cards = cards;
    </script>

</body>

</html>