<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="fantomas-card">
	<style>
		:host {
			display: inline-block;
			page-break-inside: never;
		}

		.card {
			border: 1px solid black;
			border-radius: 10px;
			margin: 1px;
			padding: 8px;
			width: 190px;
			height: 310px;
			display: inline-block;
			text-align: center;
		}

		.value {
			font-size: 300%;
			font-weight: bolder;
			margin: 0 10px;
		}

		.points {
			font-size: 150%;
			font-weight: bolder;
			margin: 0;
		}

		.header {
			margin-top: 5px;
		}

		.footer {
			margin-bottom: 5px;
		}

		.rotate {
			transform: rotate(180deg);
		}

		.green {
			color: green;
		}

		.red {
			color: darkred;
		}

		.blue {
			color: blue;
		}

		.yellow {
			color: darkorange;
		}
		#pic {
			opacity: 0.8;
			height: 120px;
			width: 80px;
			text-align: center;
			margin: 5px 5px 10px 50px;
		}
	</style>
	<template>
		<div class="vertical layout card">
			<div class$="{{data.typ}}">
				<div class="horizontal layout header">
					<div class="value">{{data.value}}</div>
					<div class="flex">{{data.name}}</div>
					<div class="value">{{data.value}}</div>
				</div>
			</div>
			<img id="pic" />
			<template is="dom-if" if="{{data.text}}">
				<div class="flex">{{data.text}}</div>
			</template>
			<template is="dom-if" if="{{data.buerger}}">
				<div class="flex points"><span>Bürger: </span><span>{{data.buerger}}</span></div>
			</template>
			<template is="dom-if" if="{{data.juve}}">
				<div class="flex points"><span>Juve: </span><span>{{data.juve}}</span></div>
			</template>
			<template is="dom-if" if="{{data.fantomas}}">
				<div class="flex points"><span>Fantomas: </span><span>{{data.fantomas}}</span></div>
			</template>
			<template is="dom-if" if="{{data.spieler}}">
				<div class="flex spieler">{{data.spieler}}</div>
			</template>
			<div>{{pageBreak}}</div>
			<div class$="{{data.typ}}">
				<div class="layout horizontal rotate footer">
					<div class="value">{{data.value}}</div>
					<div class="flex">{{data.name}}</div>
					<div class="value">{{data.value}}</div>
				</div>
			</div>
		</div>
	</template>
</dom-module>
<script>
	Polymer({
		    is: 'fantomas-card',
			properties: {
    		  data:  {
		          type: Object
	          }
			},
            attached: function() {
				console.log(this.data);
				 this.$.pic.setAttribute("src", "img/" + this.data.name + ".jpg");
				 //this.$.card.addAttribute("class", this.data.type);
	        }
		});

</script>